.station-index {

    margin-bottom: 150px;

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: minmax(50px, auto);
        grid-row-gap: 20px;
        grid-column-gap: 10px;
        grid-template-areas:
        "grid-header grid-header grid-header"
        "sidebar alternate-comp-basic alternate-comp-basic"
        "footer footer footer"
    }

    [class*="grid-item"] {
        color: $text-fill-color;
        background-color: $icon-sidebar-background;
        border-radius: 10px;
    }

    .grid-item-1 {
        grid-area: grid-header;
    }

    .grid-item-2 {
        grid-area: sidebar;
    }

    .grid-item-3 {
        grid-area: alternate-comp-basic;
    }

    .grid-item-4 {
        grid-area: footer;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-block: .3em;
    }

    h2 {
        margin: 0;
        font-size: 1.3em;
    }

    button {
        margin-inline-end: 0;
    }

}