.station-details {
  /*table
  {
      border-collapse: collapse;
      width: 100%;
      text-align: center;
  }
  
  thead {
    border-bottom: 1px solid gray;
  }
  
  body
  {
      counter-reset: Serial;
  }
  
  
  tr td:first-child:before
  {
    counter-increment: Serial;
    content: counter(Serial);
  }   

*/

* {
  font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
}

.grid-item-1 {
  display: flex;
  background-color: $default-background-color-station-preview-light-2;
  align-items: flex-end;
  border-radius: 10px 10px 0px 0px;

  .flexbox-item-2 {
    margin-block-end:18px ;
  }
}

  .grid-item-1 img {
    border-radius: 10px;
    width: 155px;
    height: 155px;
    margin: 1em; 
  }

  h5 {
    font-size: 14px;
    color: #fff;
    margin: 0;
    span {
      color: #ffffffb3;

    }

  }

  h1 {
    font-size: 32px;
    margin-block-end: 8px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }

  .grid-item-2 {
    border-radius: 0px;
    background-color: $default-background-color-station-preview-2;
    background-image: linear-gradient($default-background-color-station-preview-2, $icon-sidebar-background);
    padding-inline: 24px;
  }
}
