.app-footer{
    background-color: #181818;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    gap: 1.5rem;
    grid-column: 1/ -1;
  }
  
  .app-footer img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  
  .app-footer h1{
    color: white;
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .player-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .play-button-footer{
    background-color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .player-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  
  
  .player-btn img{
    width: 24px; 
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .player-btn img:hover{
    transform: scale(1.1);
  }
  
  .play-button-footer img {
    width: 20px;
    height: 20px;
  }
  
  .time-line{
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  
  button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .song-bar{
    -webkit-appearance: none;
    appearance: none;
    flex-grow: 1;
    height: 6px; 
    background-color: #535353;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    color: #535353;
    width: 400px;
    outline: none;
    cursor: pointer;
  }
  
  .song-bar::-webkit-slider-runnable-track {
    background-color: #535353; 
    height: 6px;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
    position: relative;
  }
  
  .song-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #1db954;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .song-bar::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background-color: #1ed760; 
  }
  