
.data-table{
    
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: $text-fill-color;
    font-size: 12px;

    thead {
        border-bottom: 1px solid gray;
    }

    table
    {
        border-collapse: collapse;
        text-align: center;
    }
    
    body
    {
        counter-reset: Serial;
    }
    
    .table-row td:first-child:before
    {
      counter-increment: Serial;
      content: counter(Serial);
    }   

    img {
        width: 1.5em;
        height: 1.5em;
        background-color: $text-fill-color;
    }
    
}