.modal_details_container {
    background-color: #282828;
    display: flex;
    // align-items: center;
    justify-content: center;
    // background-color: #171616;
    color: $text-fill-color;
    top: 0;
    left: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 524px;
    height: 384px;
    padding: 24px;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    border-style: none;
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            margin: 0;
        }
    }
  }

  #save-station-edit{
    // background-color: $bright-icon-background;
    max-height: 48px;
    border-radius: 60px; 
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
    color: $hover-dark;
    font-weight: bold;
    margin-left: auto; 
    margin-right: 0;
    padding: 0.3em 1em;
  }

  #save-station-edit:hover {
    transform: scale(1.1);
  }
 
  #close-station-edit{
    margin-left: auto; 
    margin-right: 0;
  }
  

  .modal_details_container.show {
    pointer-events: auto;
    opacity: 1;
  }

  .modal_details_container::backdrop {
    background: purple;
    opacity: 0.2;
  }

  .modal-grid {
    display: grid;
    grid-template-columns: 180px 280px;
    grid-template-rows: 40px 124px;
    // grid-template-rows: 4; 
    // grid-template-columns: 3; 
    gap: 16px;

}
.modal-grid>* {
    background-color: #3e3e3e !important;
    border-radius: 10px;
    &>* {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    input {
        border-radius: 4px;
        background-color: #3e3e3e !important;

    }
    img {
        object-fit: cover;
    }
}
button#save-station-edit {
    background-color: #fff !important;
}

  .modal-grid-item-1 {
    grid-row: 1 / 4;
    grid-column: 1 / 1;
    background-color: $gray4;
  }

  .modal-grid-item-2 {
    grid-row: 1 / 1;
    grid-column: 2 / 4;
    background-color: $gray4;

    #title {
      background-color: $gray4;
      border: none;
      outline: none;
      color: $bright-fill;
    }

  }

  .chosen {
    outline: 1px solid $gray3;
    border-color: $gray3;
    border: solid;
  } 
  
  .modal-grid-item-3 {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    background-color: $gray4;

    #description {
      background-color: $gray4;
      border: none;
      outline: none;
      color: $bright-fill;
    }

  }

  .modal_details {
    background-color: #fff;
    max-width: 100%;
    border-radius: 5px;
  }
    
  .grid-item-1 {
    display: flex;
    background-color: $dark-background-opacity;
    align-items: flex-end;  
  }      
      
  h5 {
    font-size: 13px;
  }
      
  h1 {
    font-size: 16px;
  }