.station-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: .5em;

    li {
        display: grid;
        grid-template-columns: max-content auto;
        padding: .5em;
        color: $bright-fill;
        font-size: 15px;

        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }

    .station-list-item-container {
        margin: 20px;
        border-radius: 10px;
        width: 177px;
        height: 253px;
    }

    .station-list-item-container:hover {
        background-color: $active-secondary-background-color;
        text-decoration: none;
    }
}

h1 {
    color: $bright-fill;
    font-size: 32px;
}
