.station-preview {
    a {
        padding: 0;
    }    
	p {
		margin-block: 0 0.2rem;
        font-size: .85em;
	}
    overflow: auto;

    .station-preview-container img {
        border-radius: 10px;
        width: 155px;
        height: 155px;
    }
}
