// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$main-backgroud-color: #000000;
$secondary-background-color: #1f1f1f;
$active-secondary-background-color: #2a2a2a;
$text-fill-color:#b3b3b3;
$icon-sidebar-background: #121212;
$bright-icon-background: #f4f4f4;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;